
@{
	Layout = "~/Views/Shared/Layout.cshtml";
	//Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Реєстрація ДТП</title>
</head>
<body>
	<div>
		<h3>Правопорушення</h3>
		<table>
			<tr>
				<td><p>Тип правопорушення</p></td>
				<td></td>
			</tr>             
			@foreach (var b in ViewBag.Types)
			{
				<tr>
					<td><p>@b.Name</p></td>
					<td><p><a href="/Home/Reg/@b.Id">Зареєструвати ДТП</a></p></td>
				</tr>
			}
		</table>
	</div>
</body>
</html> 